<div class="card" *ngIf="OspStore.ospList()">
    <p-toolbar styleClass="mb-12">
        <ng-template #start>
            <!-- <p-button label="Nueva orden de compra" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" /> -->
            <!-- <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" /> -->
        </ng-template>

        <ng-template #end>
            <p-button label="Exportar CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>
    <p-table
        #ospTable
        [value]="OspStore.ospList()"
        [paginator]="true"
        [globalFilterFields]="filterFields"
        [(selection)]="selectedItems"
        [rows]="10"
        [columns]="cols"
        responsiveLayout="scroll"
        [resizableColumns]="true"
        [scrollable]="true"
        scrollHeight="500px"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
        [autoLayout]="true"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <div class="font-semibold text-xl mb-4">Plan Optimo de Suministros (OSP)</div>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(ospTable, $event)" placeholder="Buscar..." />
                </p-iconfield>
                <button pButton label="( {{ selectedItems?.length }} ) Generar Orden(es) de Compra" class="p-button-sm p-button-default" (click)="createPurchaseOrder(selectedItems!)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">{{ col.header }} <p-sortIcon [field]="col.field" /></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-osp>
            <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="osp" />
                </td>
                <td>{{ osp.id }}</td>
                <td>{{ osp.product.code }}</td>
                <td>{{ osp.product.name }}</td>
                <td>{{ getProductTypeLabel(osp.product.type) }}</td>
                <td>{{ osp.unit }}</td>
                <td>{{ osp.requiredQuantity }}</td>
                <td>{{ osp.product.estimatedUnitPrice | currency: 'COP' }}</td>
                <td>
                    <p-select
                        [options]="filterSuppliers(osp.suggestedSuppliers)"
                        [(ngModel)]="osp.preferredSupplierId"
                        appendTo="body"
                        optionLabel="companyName"
                        (onChange)="osp.preferredSupplierId = $event.value"
                        optionValue="id"
                        placeholder="Seleccione proveedor"
                    >
                    </p-select>
                </td>
                <td>{{ osp.status }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmdialog />
<p-toast></p-toast>
