<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Botón fuera del *ngFor -->
    <div class="md:col-span-2">
        <button pButton label="Agregar Variación" icon="pi pi-plus" class="w-full" (click)="addVariation()" type="button"></button>
    </div>
    <div *ngFor="let item of variationsFormArray.controls; let i = index" [formGroup]="item" class="border p-4 rounded shadow grid grid-cols-1 gap-2">
        <div>
            <label class="block text-xs font-medium text-gray-700 mb-1">Código</label>
            <input pInputText formControlName="code" placeholder="Código" class="w-full" />
        </div>
        <div>
            <label class="block text-xs font-medium text-gray-700 mb-1">Unidad</label>
            <input pInputText formControlName="unit" placeholder="Unidad" class="w-full" />
        </div>
        <div>
            <label class="block text-xs font-medium text-gray-700 mb-1">Precio estimado</label>
            <p-inputNumber formControlName="estimatedUnitPrice" placeholder="Precio" class="w-full" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
        </div>
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <label for="isActive-{{ i }}" class="text-sm font-medium text-gray-700">Activo</label>
                <p-checkbox inputId="isActive-{{ i }}" formControlName="isActive" [binary]="true"></p-checkbox>
            </div>
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="removeVariation(i)" type="button"></button>
        </div>
    </div>
</div>
