<div class="flex flex-col gap-4">
    <div *ngFor="let item of variationsFormArray.controls; let i = index" [formGroup]="item" class="grid grid-cols-12 gap-2 items-end">
        <div class="col-span-3">
            <label class="block text-xs font-medium text-gray-700 mb-1">Código</label>
            <input pInputText formControlName="code" placeholder="Código" class="w-full" />
        </div>
        <div class="col-span-3">
            <label class="block text-xs font-medium text-gray-700 mb-1">Unidad</label>
            <input pInputText formControlName="unit" placeholder="Unidad" class="w-full" />
        </div>
        <div class="col-span-4">
            <label class="block text-xs font-medium text-gray-700 mb-1">Precio estimado</label>
            <p-inputNumber formControlName="estimatedUnitPrice" placeholder="Precio" class="w-full" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
        </div>

        <div class="col-span-2 flex gap-1 items-end">
            <label class="block text-xs font-medium text-gray-700 mb-1">&nbsp;</label>
            <button pButton icon="pi pi-trash" class="p-button-danger" (click)="removeVariation(i)" type="button"></button>
        </div>
    </div>
    <button pButton label="Agregar Variación" icon="pi pi-plus" class="w-full" (click)="addVariation()" type="button"></button>
</div>
