<p-toast></p-toast>
<div class="card flex flex-col gap-6 w-full">
    <h2 class="text-2xl font-semibold mb-6">Orden de compra</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-6 space-y-6">
        <!-- Sección: Información de la Orden -->
        <div>
            <h2 class="text-lg font-semibold mb-4">Información de la Orden</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 mb-4 gap-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Nombre de la empresa</label>
                    <input pInputText formControlName="companyName" class="w-full" readonly />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Proveedor</label>
                    <p-select formControlName="supplierId" [options]="suppliersStore.supplierList()" optionLabel="companyName" optionValue="id" placeholder="Seleccione proveedor" class="w-full" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Fecha de recepción</label>
                    <p-datePicker formControlName="receptionDate" dateFormat="yy-mm-dd" showIcon class="w-full" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Fecha de vencimiento</label>
                    <p-datePicker formControlName="dueDate" dateFormat="yy-mm-dd" showIcon class="w-full" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Días para entregar</label>
                    <p-inputNumber formControlName="deliveryDays" [min]="0" class="w-full" [readonly]="true" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Estado</label>
                    <p-select [disabled]="!editMode" [readonly]="!editMode" formControlName="status" [options]="statusOptions" placeholder="Seleccione estado" class="w-full" />
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
                <!-- Campo para adjuntar cotización -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">Cotización</label>
                    <p-fileupload #fu mode="basic" chooseLabel="Seleccionar cotización" chooseIcon="pi pi-upload" name="demo[]" url="" accept="application/pdf" maxFileSize="1000000" (onUpload)="onUpload($event)" />
                </div>
            </div>
        </div>
        <!-- Sección: Centros de Costo -->
        <div>
            <h2 class="text-lg font-semibold mb-4">Centros de Costo</h2>

            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Centro de costo</label>
                <p-multiselect
                    [options]="costCenterStore.costCenters()"
                    optionLabel="name"
                    optionValue="id"
                    display="chip"
                    class="w-full"
                    placeholder="Seleccione uno o varios centros de costo"
                    formControlName="cecoIds"
                    (onChange)="onCecosSelected($event.value)"
                >
                </p-multiselect>
            </div>

            <div formArrayName="cecos" class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                <div *ngFor="let ceco of cecosFormArray.controls; let i = index" [formGroupName]="i">
                    <label class="block text-xs font-medium text-gray-700 mb-1">
                        {{ getCecoLabel(ceco.get('cecoId')?.value) }}
                    </label>
                    <p-inputNumber formControlName="participation" [min]="0" [max]="100" suffix="%" class="w-full" placeholder="Porcentaje"> </p-inputNumber>
                </div>
                <div
                    class="mt-2 text-sm w-full"
                    [ngClass]="{
                        'text-red-500': totalParticipation !== 100,
                        'text-green-600': totalParticipation === 100
                    }"
                >
                    Total participación: {{ totalParticipation }}%
                    <span *ngIf="totalParticipation !== 100"> (Debe sumar 100%)</span>
                </div>
            </div>
        </div>
        <!-- Sección: Ítems de la Orden -->
        <div>
            <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
                <app-purchase-items-table [itemsFormArray]="itemsFormArray" />
            </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-end gap-4 pt-6 border-t mt-6">
            <button pButton type="button" class="p-button-secondary" (click)="cancel()">Cancelar</button>
            <button pButton type="submit" label="Guardar"></button>
        </div>
    </form>
</div>
