<div class="layout-footer">
    <img class="h-10 w-auto" src="{{ layoutService.isDarkTheme() ? 'assets/images/Logo-Quanta-Blanco.png' : 'assets/images/Logo-Quanta-principal.png' }}" />
    <a href="https://primeng.org" target="_blank" rel="noopener noreferrer" class="text-primary font-bold hover:underline">QUANTA {{ Year }} </a>
</div>

<!-- <div class="flex gap-2">
    <button pButton icon="pi pi-github" rounded text severity="secondary"></button>
    <button pButton icon="pi pi-facebook" rounded text severity="secondary"></button>
    <button pButton icon="pi pi-twitter" rounded text severity="secondary"></button>
</div> -->
