<div class="layout-topbar-start">
    <a class="layout-topbar-logo" routerLink="/">
        <img src="{{ _layoutService.isDarkTheme() ? 'assets/images/Logo-Quanta-Blanco.png' : 'assets/images/Logo-Quanta-principal.png' }}" alt="Quanta Logo" class="layout-topbar-logo-image h-10 w-auto" />
    </a>
</div>
<div class="layout-topbar-end">
    <div class="layout-topbar-actions-start"></div>
    <div class="layout-topbar-actions-end">
        <div *ngIf="this.companyStore.company()">
            <img *ngIf="this.companyStore.company()?.logoUrl" [src]="this.companyStore.company()?.logoUrl" [alt]="this.companyStore.company()?.companyName" />
            <h1>{{ this.companyStore.company()?.companyName }}</h1>
        </div>
    </div>
</div>
